@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  background-color: #26414b;
}

h1 {
    font-family: "Audiowide";
    text-align: center;
    font-size: 3em;
}

#screen {
  margin-left: 650px;
}
